<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/css-hack/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  </head>
  <body>
    <header>
      <nav class="nav-bar">
          <ul>
              <li class="logo"><a href="#"><img src="" alt="">Covibe</a></li>
              <input type="checkbox" id="check">
              <span class="menu">
                  <li><a href="">Home</a></li>
                  <li><a href="">About</a></li>
                  <li><a href="">Hackathons</a></li>
                  <li><a href="">Leaderboard</a></li>
                  <a href="/login-signup" class="button button--ghost">Log In</a>
                  <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
              </span>
              <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
          </ul>
      </nav>
  </header>
       
    <div class = "about-wrapper">
      <div class = "about-left">
        <div class = "about-left-content">
          <div>
            <div class = "shadow">
              <div class = "about-img">
                <img src = "" alt ="" >
              </div>
            </div>

            <h2>DevsHouse</h2>
            <h3>National Level Hackathon</h3>
          </div>

          <ul class = "icons">
            <li><i class = "fab fa-facebook-f"></i></li>
            <li><i class = "fab fa-twitter"></i></li>
            <li><i class = "fab fa-linkedin"></i></li>
            <li><i class = "fab fa-instagram"></i></li>
          </ul>
        </div>
      </div>

      <div class = "about-right">
        <h1>400+ Registered</h1>
        <h2></h2>
        <div class = "about-btns">
          <button type = "button" class = "btn btn-pink">Apply Now!</button>
          <button type = "button" class = "btn btn-white">Set Reminder</button>
        </div>

        <div class = "about-para">
            <p>A 36-hour national level technical hackathon that offers students from across India the opportunity to solve real-world challenges of society and showcase their innovative solutions. Join us for a thrilling event, where learning meets excitement and amazing prizes await!</p>
        </div>
        <div class="deets">
            <h1>DATE : 16th March 2024</h1>
            <h1>VENUE : 16th March 2024</h1>
            <h1>DURATION : 16th March 2024</h1>
        </div>
      </div>
    </div>

 
    
  </body>
</html>