<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/css-loc/style.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        
        <div class="header">
          <div class="title">
            Find Your Teammates!
          </div>
      
          <div class="search_box">
            <input type="text" id="search_input" placeholder="Fliter Table Using Names">
          </div>
        </div>
        <a href="/locator"><button>Locate near you!</button></a>
       
      
        <div class="table_wrap">
          <div class="table_header">
            <ul>
              <li>
                <div class="item">
                  <div class="name">
                    <span>NAME</span>
                  </div>
                  <div class="phone">
                    <span>Domain</span>
                  </div>
                  <div class="issue">
                    <span>INTRODUCTION</span>
                  </div>
                  <div class="status">
                    <span>QUICK VIEW</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="table_body">
            <ul>
              <li>
                <div class="item">
                  <div class="name">
                    <span>Shreya Pandey</span>
                  </div>
                  <div class="phone">
                    <span>Fullstack Developer</span>
                  </div>
                  <div class="issue">
                    <span>FULLSNACK Developer</span>
                  </div>
                  <div class="status">
                    <span class="open"><a href="/profile">Open</a></span>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <div class="name">
                    <span>scarlett johansson</span>
                  </div>
                  <div class="phone">
                    <span>Frontend Developer</span>
                  </div>
                  <div class="issue">
                    <span>HTML,CSS and bit js</span>
                  </div>
                  <div class="status">
                    <span class="open"><a href="/profile">Open</a></span>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <div class="name">
                    <span>Rosey</span>
                  </div>
                  <div class="phone">
                    <span>Backend Developer</span>
                  </div>
                  <div class="issue">
                    <span>Lorem ipsum dolor sit amet consectetur.</span>
                  </div>
                  <div class="status">
                    <span class="open"><a href="/profile">Open</a></span>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <div class="name">
                    <span>Rosey</span>
                  </div>
                  <div class="phone">
                    <span>Blockchain developer</span>
                  </div>
                  <div class="issue">
                    <span>Lorem, ipsum.</span>
                  </div>
                  <div class="status">
                    <span class="open"><a href="/profile">Open</a></span>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <div class="name">
                    <span>Rosey</span>
                  </div>
                  <div class="phone">
                    <span>Designer</span>
                  </div>
                  <div class="issue">
                    <span>Lorem, ipsum dolor sit amet consectetur adipisicing.</span>
                  </div>
                  <div class="status">
                    <span class="open"><a href="/profile">Open</a></span>
                  </div>
                </div>
              </li>
              <li>
                <div class="item">
                  <div class="name">
                    <span>scarlett johansson lorem</span>
                  </div>
                  <div class="phone">
                    <span>Android Developer</span>
                  </div>
                  <div class="issue">
                    <span>Lorem ipsum dolor sit.</span>
                  </div>
                  <div class="status">
                    <span class="open"><a href="/profile">Open</a></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="table_footer"></div>
        </div>
      
      </div>
      <script src="/javascripts/js-loc/loc.js"></script>
</body>
</html>