<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Accordion Vertical Tab - Codingscape</title>
    <!--Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/css-myprofile/myprofile.css">
</head>
<body>
    <div class="container">
        <div class="accordion_tab">
            <div class="accordion_tab_wrapper">
                <input type="radio" id="one" name="accordion_group" class="radio" checked>
                <input type="radio" id="two" name="accordion_group" class="radio">
                <input type="radio" id="three" name="accordion_group" class="radio">
                <input type="radio" id="four" name="accordion_group" class="radio">
                <div class="accordion_tab_group">
                    <label for="one" class="tab" id="one-tab">Personal Info</label>
                    <label for="two" class="tab" id="two-tab">Education</label>
                    <label for="three" class="tab" id="three-tab">Certificate</label>
                    <label for="four" class="tab" id="four-tab">About</label>
                </div>
                <div class="accordion_tab_contents">
                    <div class="accordion_tab_content" id="one-tab-content">
                        <h2 class="accordion_tab_title">What is HTML?</h2>
                        <p class="accordion_tab_description">The HyperText Markup Language or HTML is the standard markup language for documents designed to be displayed in a webbrowser. It is often assisted by technologies such as Cascading Style Sheets and scripting languages such as JavaScript.</p>
                    </div>
                    <div class="accordion_tab_content" id="two-tab-content">
                        <h2 class="accordion_tab_title">What is CSS?</h2>
                        <p class="accordion_tab_description">Cascading Style Sheets is a style sheet language used for describing the presentation of a document written in a markuplanguage such as HTML or XML. CSS is a cornerstone technology of the World Wide Web, alongside HTML and JavaScript.</p>
                    </div>
                    <div class="accordion_tab_content" id="three-tab-content">
                        <h2 class="accordion_tab_title">What is Javascript?</h2>
                        <p class="accordion_tab_description">JavaScript, often abbreviated as JS, is a programming language that is one of the core technologies of the World WideWeb, alongside HTML and CSS. As of 2022, 98% of websites use JavaScript on the client side for webpage behavior, oftenincorporating third-party libraries</p>
                    </div>
                    <div class="accordion_tab_content" id="four-tab-content">
                        <h2 class="accordion_tab_title">What is Framesworks?</h2>
                        <p class="accordion_tab_description">What is Framesworks?
                            In computer programming, a software framework is an abstraction in which software, providing generic functionality, canbe selectively changed by additional user-written code, thus providing application-specific software</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>