<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/css-profile/profile.css">
</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul class='nav-bar'>
                    <li class='logo'><a href='#'><img src=""/>Covibe</a></li>
                    <input type='checkbox' id='check' />
                    <span class="menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="">hackathons</a></li>
                        <li><a href="">Leaderboard</a></li>
                        <a href="/login-signup" class="button button--ghost">Log In</a>
                        <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
                    </span>
                    <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
                </ul>
            </nav>
            </header>

        <div class="main-card">
            <div class="up-card">
                <div class="pfp">
                    <img class="pfp-image"  src="/images/profile-modified.png" alt="">
                </div>
                <div class="text">
                    <div class="text-left">
                        <div class="left-column"> <div class="bold-text"> <p>Name :</p></div> <div class="bold-text"> <p> Email :</p></div> </div>
                        <div class="right-column"> <div class="light-text"><p>Srishti Pandey</p></div>  <div class="light-text"><p> srishti9456@gmail.com</p></div></div>
                    </div>
                    <div class="text-right">
                        <div class="left-column"> <div class="bold-text"> <p>Gender :</p></div> <div class="bold-text"> <p> DOB :</p></div> </div>
                        <div class="right-column"> <div class="light-text"><p> Female </p></div>  <div class="light-text"><p> 12-03-2005</p></div></div>
                    </div>
                </div>
            </div>
            <div class="down-card">
                <div class="down-left block">
                    <div class="heading">
                       <div><img src="/images/about.svg" alt="" class="icons about-icon"></div> 
                      <div> <p>About :</p></div> 
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis odio voluptatem voluptates debitis modi impedit tempora deleniti placeat cum repellendus voluptas neque sunt quaerat laboriosam nihil possimus, eius qui labore?Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus sunt atque reprehenderit quasi illum deserunt explicabo qui labore beatae! Accusantium, molestiae! Officiis!</p>
                    </div>
                    <div class="line"></div>
                    <div class="content2">
                        <p>Hackathons</p>

                    </div>
                </div>
                <div class="down-right ">
                    <div class="right-up">
                        <div class="right-up-left block">
                            <div class="heading">
                               <div> <img src="/images/keyskills.png" alt="" class="icons"></div>
                               <div> <p>Key Skills :</p></div>
                            </div>
                            <div class="key-down">
                                <div class="key-left">
                                    <div>
                                        Html
                                    </div>
                                    <div>
                                        Figma
                                    </div>
                                    <div>
                                        Css
                                    </div>
                                    <div>
                                        Javascript
                                    </div>
                                </div>
                                <div class="key-right">
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                    <div class="bar"></div>
                                </div>
                            </div>
                        </div>
                        <div class="right-up-right block">
                            <div class="heading">
                               <div><img src="/images/Bar Chart Calendar.svg" alt="" class="icons"></div> 
                              <div> <p>Leader Board :</p></div> 
                            </div>
                        </div>
                    </div>
                    <div class="right-down block">
                        <div class="heading">
                          <div> <img src="/images/Education.svg" alt="" class="icons"></div> 
                          <div><p>Education :</p></div>  
                        </div>
                        <div class="up-txt bullet">SRM Institute of Science and Technology</div>
                        <div class="date bullet">
                            2022-2026
                        </div>
                        <div class="down-text bullet">Delhi Public School</div>
                        <div class="date bullet">
                            2015-2022
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>